.header {
  background-color: #dcbe87;

}

.header h1 {
  float: left;
  width: 33%;
  display: inline-block;
  padding: 5px;
}

.search-div {
  width: 33%;
  display: inline-block;

}

.search-div div {
  margin: 0 auto;
  padding: 5px;
}

.login {
  margin-top: 0;
  float: right;
  width: 33%;
  display: inline-block;
}

.login div{
  float: right;
  padding: 5px;
}
