.header {
  background-color: #dcbe87;
}

.header ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header li {
  display: inline-block;
  margin: 15px 10px 15px 10px;
}

.heading-nav {
  padding-left: 10px;
}

.login-nav {
  padding-right: 10px;
}

.home-link {
  text-decoration: none;
}






@media only screen and (max-width: 585px) {
    .search-nav div{
        display: none;
    }
}
