.title {
  margin-bottom: 20px;
}

.login {
  padding: 2em;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.login div {
  padding-top: 20px;
}

.table-login {
  width: 50%;
}

.table-login td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.table-input input{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.error {
  color: red;
}



@media only screen and (max-width: 800px) {
    .table-login {
      width: 100%;
    }

    .login {
      padding: 2em 10% 0 10%;
    }
}
